<a href="https://colab.research.google.com/github/rde6mn/wrangling/blob/main/wrangling_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

In [ ]:
! git clone https://github.com/DS3001/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 92, done.
remote: Counting objects: 100% (52/52), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 92 (delta 42), reused 18 (delta 18), pack-reused 40 (from 1)
Receiving objects: 100% (92/92), 18.08 MiB | 7.31 MiB/s, done.
Resolving deltas: 100% (43/43), done.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  
  The paper is about using the tidy data framework to easily turn un-tidy datsets into tidy ones.
  
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?

  The tidy data standard intends to provide a standard way to organize data values within a dataset.

  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."

  The first sentence means that no two datasets have the exact same problems within the data/things that make it messy.

  The second sentence means that it's easy to figure out what the observations (each individual record) and variables (columns) are, but the hard part is figuring our what they mean.

  4. Read Section 2.2. How does Wickham define values, variables, and observations?

  Wickham says that values make up datasets. Variables are values that all measure the same underlying attribute. Observations are all values measured on the same unit.
  
  5. How is "Tidy Data" defined in section 2.3?

  Tidy data is defined as data where variables form columns, observations form rows, and types of observational units form tables.

  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?

  The five most common problems are: column headers are values instead of variable names, there are multiple variables in a column, varibles are stored in rows and in columns, there are many types of observational units in one table, and a single observational unit is in multiple tables.

  The data in table 4 is messy because the variables are stored in rows and columns.

  Melting a dataset means stacking it.

  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?

  Table 11 has variables stored in the columns (d1-d8). Table 12 takes table 11, and it stacks the variables stored in the columns into one "value" column.

  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

  The chicken and the egg problem is that tidy data is only as useful as the tools that are used to work with it. Due to this, it can be the case where the workflow is not improved by changing data structures or tools.

  Wickham hopes that others will build upon his framework to develop better data storage strategies and tools.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bnb = pd.read_csv('/content/wrangling/assignment/data/airbnb_hw.csv')
bnb.sort_values(by=['Price'], ascending=False)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
17430,10963050,1/2/2014,3BR Luxury Apartment in SoHo,Manhattan,Apartment,NaN,Entire home/apt,10012.0,3.0,1,0,999,NaN
17664,11260309,1/13/2014,Huge Union Square Loft,Manhattan,Apartment,NaN,Entire home/apt,10003.0,2.0,1,0,999,NaN
26751,30247261,3/30/2015,NEW 2850 SQ FT SOHO/LittleItaly GEM,Manhattan,Apartment,NaN,Entire home/apt,10013.0,4.0,1,0,999,NaN
2955,687750,6/10/2011,Super Big Sunny room. Great view!!!,Manhattan,Apartment,85.0,Private room,10044.0,2.0,1,9,999,88.0
14884,8107868,8/12/2013,Huge Remodeled Home in Prime Area,Manhattan,Apartment,NaN,Entire home/apt,10014.0,3.0,1,0,999,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4756,1420300,11/18/2011,8 Bedrooms 5 Baths 20 mnts to SOHO,Brooklyn,House,90.0,Entire home/apt,11216.0,16.0,1,36,"1,000",92.0
17783,11459436,1/19/2014,SUPERBOWL RENTAL,Manhattan,Apartment,NaN,Entire home/apt,10002.0,1.0,1,0,"1,000",NaN
8702,3323488,8/20/2012,Photoshoot/Video- Historic Townhome,Brooklyn,House,NaN,Entire home/apt,11216.0,3.0,1,0,"1,000",NaN
25144,25067295,12/21/2014,East Village / Gramercy Park 2 BR,Manhattan,Apartment,NaN,Entire home/apt,10003.0,2.0,1,0,"1,000",NaN
4428,1331566,10/24/2011,GORGEOUS 4 FLOOR BROWNSTONE,Brooklyn,House,NaN,Entire home/apt,11217.0,6.0,1,0,"1,000",NaN

For price formatting of 999, there are commas. You can't have commas in numeric variables, so to clean this, I will replace commas with nothing to remove them, and then, I will convert the column to be a numeric type.

In [ ]:
bnb['Price'] = bnb['Price'].str.replace(',','') #removed commas to prepare it to be converted to a numeric type
bnb['Price'] = pd.to_numeric(bnb['Price'], errors = 'coerce') #converts column to numeric type
bnb.sort_values(by=['Price'], ascending=False)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
23927,23248648,11/2/2014,NO LONGER BOOKING RESERVATIONS,Manhattan,Apartment,95.0,Entire home/apt,10025.0,2.0,1,21,10000,95.0
4002,1177497,9/18/2011,Film Location,Brooklyn,House,NaN,Entire home/apt,11205.0,5.0,1,0,8000,NaN
17900,11598359,1/24/2014,SUPER BOWL Brooklyn Duplex Apt!!,Brooklyn,Apartment,NaN,Entire home/apt,11238.0,4.0,1,0,6500,NaN
2405,496780,4/9/2011,test listing which is not real,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,5.0,1,0,5999,NaN
24136,23564279,11/10/2014,Breathtaking 2-Story Soho Penthouse,Manhattan,Apartment,NaN,Entire home/apt,10013.0,3.0,1,0,5000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9793,3991870,10/27/2012,1 Couch 8 min from Manhattan J\M\Z,Brooklyn,Apartment,80.0,Shared room,11206.0,1.0,1,17,20,81.0
18209,12122005,2/10/2014,Private Room in Bushwick Warehouse,Brooklyn,Apartment,NaN,Private room,11237.0,1.0,1,0,20,NaN
30087,41211757,8/11/2015,"Private Room in Brooklyn, NY",Brooklyn,Apartment,NaN,Private room,11219.0,1.0,1,0,10,NaN
19275,14381346,4/16/2014,Small sofa,Bronx,House,100.0,Shared room,10462.0,1.0,1,2,10,100.0
3120,751530,6/27/2011,Room in three-Bedroom Apartment,Brooklyn,Apartment,NaN,Entire home/apt,NaN,1.0,1,0,10,NaN

In [ ]:
print(sum(bnb['Price'].isnull())) #prints number of missing values

0

As shown above, there are 0 missing values

# Part2

In [ ]:
shark = pd.read_csv('/content/wrangling/assignment/data/sharks.csv')
print(shark['Type'].unique())

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

<ipython-input-17-c1aa357407c8>:1: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  shark = pd.read_csv('/content/wrangling/assignment/data/sharks.csv')

In [ ]:
#THese don't add value to the dataset, and it is unclear what they mean
shark['Type'] = shark['Type'].replace(['Questionable','Unconfirmed','Unverified','Invalid'], np.nan)

#THese are all boat/sea related disasters, so I've combined them into one column
shark['Type'] = shark['Type'].replace(['Watercraft', 'Boating', 'Sea Disaster','Boat', 'Boatomg'], 'Boats')

print(shark['Type'].unique())

['Unprovoked' 'Provoked' nan 'Boats' 'Under investigation']

# Part 3

In [ ]:
trial = pd.read_parquet('/content/wrangling/assignment/data/justice_data.parquet')
print(trial['WhetherDefendantWasReleasedPretrial'].unique())

[9 0 1]

In [ ]:
#According to VirginiaPretrialData2017Codebook, 9 stands for unknown. So, I will replace those values
trial['WhetherDefendantWasReleasedPretrial'] = trial['WhetherDefendantWasReleasedPretrial'].replace(9,np.nan)

print(trial['WhetherDefendantWasReleasedPretrial'].unique())

[nan  0.  1.]

# Part 4

In [ ]:
print(trial['ImposedSentenceAllChargeInContactEvent'].unique())

[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']

In [ ]:
#the float values are ugly, so i will turn them into ints
trial['ImposedSentenceAllChargeInContactEvent'] = pd.to_numeric(trial['ImposedSentenceAllChargeInContactEvent'], errors='coerce')
print(np.sum(trial['ImposedSentenceAllChargeInContactEvent'].isnull()))

9053

In [ ]:
print(pd.crosstab(trial['ImposedSentenceAllChargeInContactEvent'].isnull(), trial['SentenceTypeAllChargesAtConvictionInContactEvent']))

#replaces 'ImposedSentenceAllChargeInContactEvent' values based on 'SentenceTypeAllChargesAtConvictionInContactEvent' values
trial['ImposedSentenceAllChargeInContactEvent'] = trial['ImposedSentenceAllChargeInContactEvent'].mask(trial['SentenceTypeAllChargesAtConvictionInContactEvent']==4,0)
trial['ImposedSentenceAllChargeInContactEvent'] = trial['ImposedSentenceAllChargeInContactEvent'].mask(trial['SentenceTypeAllChargesAtConvictionInContactEvent']==9,np.nan)

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

In [ ]:
print(np.sum(trial['ImposedSentenceAllChargeInContactEvent'].isnull()))

274

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

Did question 1